.btn-custom {
    background-color: blueviolet;
    color:white;
    font-size: 1rem;
}

.btn-custom:hover {
    background-color:rgb(129, 18, 233);
    color:white;
    font-size: 1.1rem;
}

.active-action-btn {
    color:blueviolet;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid blueviolet; 
}

.auth-page {
    min-height: 100vh;
}